/* header {
    border-bottom: 1px solid black ; 
    width: 100%; 
} */

header div {
    display: flex; 
    justify-content: space-between;
    margin: 10px; 
    margin-top: 50px;
}

header div h1 {
    margin: 0; 
    margin-left: 15px;
    font-family: 'Rubik Iso', cursive; 
    font-size: 3rem ;
    font-weight: 300;
}


nav a{
    margin-right: 15px;
}

ul li {
    display: inline
}
a {
    text-decoration: none;
}

.line{
    border-bottom: 1px solid black; 
    margin: auto;
    width: 80%
}

.btn--nav { 
  position: relative;
  padding: 1rem 1rem; 
  letter-spacing: 0.1rem;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1)
}

.btn--nav::before,
.btn--nav::after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.btn--nav:hover {
  color: #fff;
  transition-delay: 0.5s;
}

.btn--nav:hover:before {
  transition-delay: 0s;
}

.btn--nav:hover:after {
  background: #000;
  transition-delay: 0.35s;
}

/* 
from top */

.from-top::before,
.from-top::after {
  left: 0;
  height: 0;
  width: 100%;
}

.from-top::before {
  /* bottom: 0; */
  border: 1px solid white;
  border-top: 0;
  border-bottom: 0;
}

.from-top::after {
  top: 0;
  height: 0;
}

.from-top:hover::after,
.from-top:hover:before {
  height: 100%;
}