body {
	margin: 10px;
	font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: middle;

	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: none;
}

body::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

html,
body {
	height: 100%;
}

html {
	margin: auto;
}
@media (min-width: 1599px), (min-height: 1300px) {
	html {
		display: table;
	}

	body {
		display: table-cell;
	}

	div .screen--container {
		margin-bottom: 18em;
	}
}
.screen--container {
	max-width: 1150px;
	max-height: 750px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
}

.btn {
	font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	text-decoration: none;
	text-align: center;
}

/* header */
header {
	margin-top: 35px;
	position: relative;
	top: 0;
	height: 10vh;
}

header div {
	display: flex;
	justify-content: space-between;
	margin: auto;
	/* margin-top: 50px; */
}

header div h1 {
	margin: 0;
	margin-left: 15px;
	font-size: 3rem;
	font-weight: 300;
}

nav a {
	margin-right: 15px;
	text-decoration: none;
	color: #000;
}

ul li {
	display: inline;
}

.line {
	border-bottom: 1px solid black;
	margin: auto;
	width: 100%;
}

.btn--nav {
	position: relative;
	padding: 1rem 1rem;
	letter-spacing: 0.1rem;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.btn--nav::before,
.btn--nav::after {
	content: '';
	position: absolute;
	transition: inherit;
	z-index: -1;
}

.btn--nav:hover {
	color: #fff;
	transition-delay: 0.5s;
}

.btn--nav:hover:before {
	transition-delay: 0s;
}

.btn--nav:hover:after {
	background: #000;
	transition-delay: 0.35s;
}

/* 
from top */

.from-top::before,
.from-top::after {
	left: 0;
	height: 0;
	width: 100%;
}

.from-top::before {
	/* bottom: 0; */
	border: 1px solid white;
	border-top: 0;
	border-bottom: 0;
}

.from-top::after {
	top: 0;
	height: 0;
}

.from-top:hover::after,
.from-top:hover:before {
	height: 100%;
}

.container--header nav {
	font-weight: 600;
	margin: auto;
}

.container--header ul {
	margin: 0px;
}

/* hero */
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 9rem;
}
/* 
.hero--img {
	height: 428px;
	width: 637px;
	grid-column: 1;
	align-self: center;
} */
/* 
.hero--img img {
	height: 428px;
	width: 637px;
} */

.hero--subtitle {
	max-width: 608px;
	text-align: center;
}

/* main */
.main {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	align-items: center;
}
.main img {
	width: 200px;
}

.main ul {
	overflow: auto;
}

.main .line {
	border-bottom: 3px solid #3d4040;
	border-radius: 3px;
	box-shadow: 0px 2px 1px #8888;
	margin: auto;
	width: 95%;
	position: relative;
	top: -215px;
}

.main--characters {
	position: relative;
}

.main--characters img {
	position: relative;
}

.main--characters #character1 {
	width: 220px;
	top: 10px;
}

.main--characters #character2 {
	left: -108px;
	top: 10px;
}

.main--characters #character3 {
	left: -174px;
	top: 66px;
	z-index: 1;
}

.main--characters #character4 {
	left: -205px;
}

.main--characters #character5 {
	left: -260px;
	top: 26px;
}

.main--characters #character6 {
	left: 717px;
	top: -195px;
}

.main--characters #character7 {
	left: 667px;
	top: -203px;
}

.main--characters #character8 {
	left: 567px;
	top: -169px;
}

.main--btn {
	background-color: #080808;
	color: #ffff;
	padding: 0.5rem 1rem 0.5rem 1rem;
	box-shadow: 0px 3px 1px #8888;
	border-radius: 8px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
}
